.submit-button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;}

.next-button {
  background-color: #008cba; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

/* Add more sophisticated styling as desired */
